@model Quote
<h1>Quotes!!!</h1>
<form asp-action="Create" asp-controller="Home" method="post">
    <span asp-validation-for="Name"></span>
    <label asp-for="Name"></label>
    <input type="text" asp-for="Name">

    <span asp-validation-for="Content"></span>
    <label asp-for="Content"></label>
    <input type="text" asp-for="Content">
    <input type="submit" value="Submit">
</form>

<h1>Here are your Quotes</h1>
<ul>
    @foreach(var i in ViewBag.quotes)
    {
        <li>@i["content"]  -<i>@i["name"]</i></li>
    }
</ul>