
<h1>Index View</h1>

<div>
    <h2>Random passcode (passcode @ViewBag.Counter)</h2>
    <form method="post">
        <p>@ViewBag.newcodes</p>
        <input type="submit" value="Generate">
    </form>
    <a href="clear">Clear</a>
    
</div>