@using Test.Models
@model Event

@{
    ViewData["Title"] = "Event Planner";
}
 <div class="col text-right">
      <a href="/dashboard" role="button" class="btn btn-primary mr-2">Dashboard</a>
      <a href="/logout" role="button" class="btn btn-secondary">Log out</a>
    </div>
<div class="container mt-3 w-50 bg-white p-3 border rounded">
  <form asp-action="ProcessEvent" asp-controller="Home" method="POST" class="p-3">
    <h3 class="text-center mb-3">NEW EVENT</h3>
    <p class="text-center">Please enter the event information below.</p>
    <span class="text-center">@Html.Raw(TempData["alertMessage"])</span>
    <hr>
    <div class="row">
      <div class="col">
        <label asp-for="Title" class="ml-1"></label>
        <input asp-for="Title" class="form-control" placeholder="Title">
        <span asp-validation-for="Title" style="color:red;font-size:small;" class="ml-1"></span>
      </div>
      
    <div class="row">
      <div class="col">
        <label asp-for="EventTime" class="ml-1"></label>
        <input asp-for="EventTime" class="form-control" placeholder="Time" type="time">
        <span asp-validation-for="EventTime" style="color:red;font-size:small;" class="ml-1"></span>
      </div>
      <div class="col">
        <label asp-for="EventDate" class="ml-1"></label>
        <input asp-for="EventDate" type="date" class="form-control">
        <span asp-validation-for="EventDate" style="color:red;font-size:small;" class="ml-1"></span>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col">
        <label asp-for="EventDuration" class="ml-1"></label>
        <input asp-for="EventDuration" class="form-control" placeholder="Duration of event">
        <span asp-validation-for="EventDuration" style="color:red;font-size:small;" class="ml-1"></span>
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block mt-2">CREATE NEW EVENT</button>
  
  <a href="/dashboard" class="btn btn-primary btn-block mt-2">CANCEL EVENT</a>
  </form>
</div>